body{
    background: rgba(0, 0, 0, 0.6) url('15 blur.png') center center fixed;
    background-size: cover;
    background-blend-mode: darken;
}
.topbar ul{
    margin-left: 45%;
    margin-top: -3%;
}
.topbar ul li{
    display: inline;
}

.topbar ul li a{
    padding: 10px;
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
}
.topbar a:hover{
    color: #e94b82;
}
.title{
    color: aquamarine;
    font-size: 34px;
    margin-right: 46%;
    margin-bottom: -6%;
}
.test3{
    font-family: 'Phudu';
    color: #ffffff;
}
.test4{
    font-family: 'Phudu';
    color: #e94b82  ;
}
.box{
    background: #db7979;
    border: 2px solid;
    padding: 5px;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    justify-items: center;
    align-items: center;
    
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 10px;
    row-gap: 10px;
    column-gap: 10px;
    margin-top: 5%;
    justify-content: space-between;
}
.box img{
    width: 200px;
    height: 200px;
    
}
.center{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
h1{
    font-family: 'Noto Serif', serif;
    text-align: center;
    color: #ffffff;
}
.box h3{
    font-size: 15px;
}
.box h1{
    font-size: 20px;
}
h3{
    font-family: 'Raleway', sans-serif;
    text-align: center;
    color: #ffffff;
}
span{
    color: brown;
}
.button{
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    margin-bottom:-4%;
    margin-top:-3.5%;
    text-align: start;
    width: 100px;
    height: 100px;
}
.button img{
    width: 40px;
    height: 40px;
}
.button img:hover{
    background-color: brown;
    border-radius: 100px;
}