body{
    background: rgba(0, 0, 0, 0.6) url('15 blur.png') center center fixed;
    background-size: cover;
    background-blend-mode: darken;
}
.upbar ul{
    margin-left: 48%;
    margin-top: -15%;
}
.upbar ul li{
    display: inline;
}

.upbar ul li a{
    padding: 10px;
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
}
.upbar a:hover{
    color: #e94b82;
}
.box img{
    width: 300px;
    height: 300px;
    
}
.center{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.button1{
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    margin-bottom:-1%;
    margin-top:4%;
    text-align: start;
    width: 200px;
    height: 200px;
}
.button1 img{
    width: 40px;
    height: 40px;
}
.button1 img:hover{
    background-color: brown;
    border-radius: 100px;
}
.box{
    background: #db7979;
    border: 2px solid;
    padding: 5px;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    justify-items: center;
    align-items: center;
    transition: 0.5s;
    margin-top: 10%;
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    padding: 20px;
    row-gap: 15px;
    column-gap:100px;
    justify-content: space-between;
    
}
.box img{
    width: 100px;
    height: 100px;
    
}
.text{
    padding: 15px;
    color: #ffffff;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    margin-left: 32%;

}
.text1{
    padding: 15px;
    color: #ffffff;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    margin-left: 28%;
    
}
.text2{
    padding: 15px;
    color: #ffffff;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    margin-left: 3%;
    
}
.text3{
    padding: 15px;
    color: #ffffff;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    margin-left: 23%;
    
}
.text4{
    padding: 15px;
    color: #ffffff;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    margin-left: 24%;
    
}
.text5{
    padding: 15px;
    color: #ffffff;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    margin-left: 27%;
    
}
.text6{
    padding: 15px;
    color: #ffffff;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    margin-left: 24%;
    
}
.text7{
    padding: 15px;
    color: #ffffff;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    margin-left: 32%;
    
}
.text8{
    padding: 15px;
    color: #ffffff;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    margin-left: 29%;
    
}
.text9{
    padding: 15px;
    color: #ffffff;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    margin-left: 24%;
    
}
.text10{
    padding: 15px;
    color: #ffffff;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    margin-left: 29%;
    
}
.text11{
    padding: 15px;
    color: #ffffff;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    margin-left: 28%;
    
}
.center{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.box:hover{
    transform: scale(1.1);
    color: aquamarine;
    box-shadow: 4px 4px 4px #ffffff;
}
.name1{
    font-size: 50px;
    color: aquamarine;
    margin-left: 10%;
    margin-bottom: -8%;
}
.test5{
    font-family: 'Phudu';
    color: #ffffff;
}
.test6{
    font-family: 'Phudu';
    color: #e94b82;
}
